// $dropdownHeaderColor: #fb3767;
$primaryColor: #2562BA;
$font: 'Inter', sans-serif;

/*
===========================================
---------------Banner Section--------------
===========================================
*/

.homeBanner .banner .contents .texts{
  h1{
    font-size: 54px;
  }
  p{
    font-size: 20px;
  }
  a{
    padding: 15px 30px;
  }
}

.banner{
  float: left;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  padding: 100px;

  .asset{
    float: left;
    position: absolute;
    right: 0;
    top: 0;

    img{
      width: 100% !important;
      height: 100vh !important;
    }

  }

  .contents{
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    z-index: 1;

    .texts{
      width: 50%;
      float: left;
      padding: 10px;

      h1{
        font-size: 50px;
        padding: 0px;
        margin: 0px;
        float: left;
        font-weight: 600;
        font-family: $font !important;
        span{
          color: $primaryColor;
        }
      }
  
      p{
        font-size: 18px;
        color: grey;
        margin: 30px 0px;
        float: left;
      }

      a{
        padding: 12px 25px;
        background: $primaryColor;
        border-radius: 8px;
        color: white;
        font-weight: 400;
        text-decoration: none;
        font-size: 17px;
        float: left;
      }

    }

    img{
      float: left;
      border-radius: 10px;
      width: 100% !important;
    }

  }

}


@media screen and (max-width: '1100px'){
  .banner{
    height: max-content;
    padding: 10px;
    float: left;
  
    .asset{
      float: left;
      position: absolute;
      right: 0;
      top: 0;
      width: max-content;
      height: max-content;
  
      img{
        width: 40vw !important;
        height: max-content !important;
      }
  
    }
  
    .contents{
      float: left;
      display: flex;
      margin-top: 120px;
      z-index: 1;
      width: 100%;
  
      .texts{
        width: 50%;
        float: left;
        padding: 10px;
  
        h1{
          font-size: 42px;
          padding: 0px;
          margin: 0px;
          float: left;
          font-weight: 800;
          font-family: 'Inter', sans-serif;
          width: 100%;
          span{
            color: $primaryColor;
          }
        }
    
        p{
          font-size: 20px;
          color: grey;
          margin: 30px 0px;
          float: left;
        }
  
        a{
          padding: 15px 30px;
          background: $primaryColor;
          border-radius: 10px;
          color: white;
          font-weight: 400;
          text-decoration: none;
          font-size: 19px;
          float: left;
        }
  
      }
  
      img{
        float: left;
        border-radius: 10px;
      }
  
    }
  
  }
}

@media screen and (max-width: '900px'){
  
  .banner{
    padding: 80px 20px;
    float: left;
    min-height: max-content;
  
    .asset{
      float: left;
      position: absolute;
      right: 0;
      top: -80px;
      width: max-content;
      height: max-content;
  
      img{
        width: 40vw !important;
        height: max-content !important;
      }
  
    }
  
    .contents{
      float: left;
      display: block;
      margin-top: 0px;
      z-index: 1;
      width: 100%;
  
      .texts{
        width: 100%;
        float: left;
        padding: 10px;
  
        h1{
          font-size: 34px !important;
          width: 100%;
          span{
            color: $primaryColor;
          }
        }
    
        p{
          font-size: 20px !important;
          color: grey;
          margin: 20px 0px;
          float: left;
        }
  
        a{
          padding: 12px 15px !important;
          background: $primaryColor;
          border-radius: 5px;
          color: white;
          font-weight: 400;
          text-decoration: none;
          font-size: 18px;
          float: left;
          width: max-content;
          text-align: center !important;
        }
  
      }
  
      img{
        float: left;
        border-radius: 10px;
        display: none !important;
      }
  
    }
  
  }
}


@media screen and (max-width: '460px'){
  .banner{
    padding: 80px 0px;
    float: left;
    min-height: max-content;
  
    .asset{
      float: left;
      position: absolute;
      right: 0;
      top: -80px;
      width: max-content;
      height: max-content;
  
      img{
        width: 40vw !important;
        height: max-content !important;
      }
  
    }
  
    .contents{
      float: left;
      display: block;
      margin-top: 0px;
      z-index: 1;
      width: 100%;
  
      .texts{
        width: 100%;
        float: left;
        padding: 10px;
  
        h1{
          font-size: 28px !important;
          width: 100%;
          span{
            color: $primaryColor;
          }
        }
    
        p{
          font-size: 18px !important;
          color: grey;
          margin: 20px 0px;
          float: left;
        }
  
        a{
          padding: 10px 15px !important;
          background: $primaryColor;
          border-radius: 5px;
          color: white;
          font-weight: 400;
          text-decoration: none;
          font-size: 16px;
          float: left;
          width: 100%;
          text-align: center !important;
        }
  
      }
  
      img{
        float: left;
        border-radius: 10px;
        display: none !important;
      }
  
    }
  
  }
}