/*
===========================================
---------------Banner Section--------------
===========================================
*/
.homeBanner .banner .contents .texts h1 {
  font-size: 54px;
  font-weight: 900;
}
.homeBanner .banner .contents .texts p {
  font-size: 20px;
}
.homeBanner .banner .contents .texts a {
  padding: 15px 30px;
}

.banner {
  float: left;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  padding: 100px;
}
.banner .asset {
  float: left;
  position: absolute;
  right: 0;
  top: 0;
}
.banner .asset img {
  width: 100% !important;
  height: 100vh !important;
}
.banner .contents {
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  z-index: 1;
}
.banner .contents .texts {
  width: 50%;
  float: left;
  padding: 10px;
}
.banner .contents .texts h1 {
  font-size: 46px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  float: left;
  font-weight: 800;
  font-family: "Inter", sans-serif !important;
}
.banner .contents .texts h1 span {
  color: #2562BA;
}
.banner .contents .texts p {
  font-size: 18px;
  color: grey;
  margin: 10px 0px;
  float: left;
}
.banner .contents .texts a {
  padding: 12px 25px;
  background: #2562BA;
  border-radius: 8px;
  color: white;
  font-weight: 400;
  text-decoration: none;
  font-size: 17px;
  float: left;
  margin-top: 20px;
}
.banner .contents img {
  float: left;
  border-radius: 10px;
  width: 100% !important;
}

@media screen and (max-width: 1100px) {
  .banner {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 10px;
    float: left;
  }
  .banner .asset {
    float: left;
    position: absolute;
    right: 0;
    top: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .banner .asset img {
    width: 40vw !important;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  .banner .contents {
    float: left;
    display: flex;
    margin-top: 120px;
    z-index: 1;
    width: 100%;
  }
  .banner .contents .texts {
    width: 50%;
    float: left;
    padding: 10px;
  }
  .banner .contents .texts h1 {
    font-size: 42px;
    padding: 0px;
    margin: 0px;
    float: left;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    width: 100%;
  }
  .banner .contents .texts h1 span {
    color: #2562BA;
  }
  .banner .contents .texts p {
    font-size: 20px;
    color: grey;
    margin: 10px 0px;
    float: left;
  }
  .banner .contents .texts a {
    padding: 15px 30px;
    background: #2562BA;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    font-size: 19px;
    float: left;
  }
  .banner .contents img {
    float: left;
    border-radius: 10px;
  }
}
@media screen and (max-width: 900px) {
  .banner {
    padding: 80px 20px;
    float: left;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
  .banner .asset {
    float: left;
    position: absolute;
    right: 0;
    top: -80px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .banner .asset img {
    width: 40vw !important;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  .banner .contents {
    float: left;
    display: block;
    margin-top: 0px;
    z-index: 1;
    width: 100%;
  }
  .banner .contents .texts {
    width: 100%;
    float: left;
    padding: 10px;
  }
  .banner .contents .texts h1 {
    font-size: 34px !important;
    width: 100%;
  }
  .banner .contents .texts h1 span {
    color: #2562BA;
  }
  .banner .contents .texts p {
    font-size: 20px !important;
    color: grey;
    margin: 20px 0px;
    float: left;
  }
  .banner .contents .texts a {
    padding: 12px 15px !important;
    background: #2562BA;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
    float: left;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: center !important;
  }
  .banner .contents img {
    float: left;
    border-radius: 10px;
    display: none !important;
  }
}
@media screen and (max-width: 460px) {
  .banner {
    padding: 80px 0px;
    float: left;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
  .banner .asset {
    float: left;
    position: absolute;
    right: 0;
    top: -80px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .banner .asset img {
    width: 40vw !important;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  .banner .contents {
    float: left;
    display: block;
    margin-top: 0px;
    z-index: 1;
    width: 100%;
  }
  .banner .contents .texts {
    width: 100%;
    float: left;
    padding: 10px;
  }
  .banner .contents .texts h1 {
    font-size: 28px !important;
    width: 100%;
  }
  .banner .contents .texts h1 span {
    color: #2562BA;
  }
  .banner .contents .texts p {
    font-size: 18px !important;
    color: grey;
    margin: 20px 0px;
    float: left;
  }
  .banner .contents .texts a {
    padding: 10px 15px !important;
    background: #2562BA;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    float: left;
    width: 100%;
    text-align: center !important;
  }
  .banner .contents img {
    float: left;
    border-radius: 10px;
    display: none !important;
  }
}/*# sourceMappingURL=banner.css.map */